.appbar-name {
  width: 40%;
  float: left;
}

.appbar-content {
  width: 60%;
  float: left;
  text-align: right;
}

.appbar-content button {
  margin: 0px 10px;
}

.asset-detail {
  margin-top: 10px !important;
}

.asset-description {
  padding: 16px;
}

.asset-spec {
  margin-top: 20px;
}

.status-chip {
  margin-left: 10px;
}

.audit-log {
  padding: 16px;
}

.asset-section {
  margin-top: 20px;
}